a {
  text-decoration: none; /*Remove o sublinhado*/
  color: #ac0b6c; /*Definição das cores padrão do links*/
}
a:hover {
  /*Estilo quando o usuário passa o cursor*/
  color: #ff6600;
}
a:active {
  /*Estilo quando os links são clicados*/
  color: #ff0000;
}
a:visited {
  /*Estilo de links que já foram visitados*/
  color: #009954;
}
